.header-title{
    padding-top: 14px;
    font-size: 16px;
    padding-left: 6px;
    font-weight: 600;
}
.bg-color-peach{
    background-color: #deaab9 !important;
    line-height: 0px;
}
.header-name{
    padding-top: 14px;
    font-size: 18px;
    padding-left: 6px;
    font-weight: 500;
}